language: java

jdk:
  - oraclejdk7
  - oraclejdk8

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "B/5QsMtgVtN2ihQCSqsQ/VK0HxealbOP+qeYY8UzYJStjRzFsZFkKv/bGRhI5+iu5Te434Hq5aoFdpTKw6HMVj6NQOd4GkaNR727F0rQe7qG2867vUo4KY2fwz58aTkk1wlJEkqav9HzA4vdyr3i9jdgUfMN3v7OByBMvrEf7AoH5AghbvLJQmpAdbgVaIq4kqFkW3yI6JXVC4ssFYjLtvuLEsjfnnAo2L4xUxnZ9CEapEzhv01qa///mPRJ+hQGEdr+DHZoJabu76LN1aZr6WqOw6H4p9DGHoaL+GmJFSw/b9Wtp7GtxRksds8ZJDuKgK41mUXhSsGqh5Jw6axoBOqCNFdwYgGgHuMJwmAB5WnAeIJnCCTMXYmnv9PJAsnfNYTihGjjbK8zYU8vWzG2mVLw2O8LMAH6G3QOuAqVowLaVLcQAzK2gUuil8iRCMK9jnHgmSwMqpDZ9d0AL9tKts47PSRws7+1ndUJP1Afyl3i8sSCwgo+jpogJ4WPuQGYO/N29hiRuwXf25LwtPQrfAiL8OCubQpkNIiwRNTRhCqYt4ZmWxnosSmAFzKdyrnyAy7x4uYpiLKziEpTEO2tkqngqMSJZFi1f18eBC11djPtPBYPSbUD1+mu6o6jDwbSYYi6Lx4CQPf5lvV3uFUsAZNdMS7tDBBePz5U6WG4gM8="
    - secure: "0YxUTJ7vbCuqXB6P7r0erLbt07DW1Ngl7xaOJ2fnEKAkBzWKYK6CGXC85WdxfyMaAi3fJnmFl/uJ3v0NLwPc7MALZlXzJDFeH7WcDu+wGSaEtgXFSQoIw9aOk/hsuyKypYLZOn9v1/pZOVrW+A6u6Ck9AN+lOhhCkyDp6Oa6lPPFMf5jWdeEDKHD1uhpKV25IRu80ul8EHqlRtKh/K0Rnb7o4G78lRBDhp/FWztQcm2WFuD8FOkKnKrMlb77zIKP7bPYW5ULChmx3jPU4IbuqGchB3xgglJE+J5AUbtmISoCZM+4MACKl72A7ob2dBOa9qulnCfdWvKPWFCYX+cYJ6o0yifXINI4fkengrL7LSaATp9++ey++/6jXyYkEeWwWDdNRC8c8TSYI3fwqa/OZ7f4j1NaD66Gxu1yHT7hvqAf8qUIwNHLfC2be9FfvghUr+Ocf6TfNkh8mFjNX6C5eHBQQ/I9h6aIvIPa7F/mHs1d+wq0oBvNEy+DTYMx6JNApysgcWWrE7cyj5BVTgRY7Cjb6qCkhWHkX8COcrE8ZTH8DR8NzhVKitARlfJ7iaH1+hPBBxC807b7g0AHqib0X2xenOmQ87A8Rp1N5upRq0HfcQOvtZfeMcgWBd2+N0K0ncerph443PTSrBbtgZBioCArPvKoeLlBYFGFdEhByxU="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle/wrapper
    - $HOME/.gradle/caches/modules-2/files-2.1
